<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossinfinity.sh.mickeyball">
<application>
    android:allowBackup="true"
    android:icon="@drawable/mickeyplay"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".Splash"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Home"
        android:label="@string/title_activity_home"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="landscape"/>
    <activity
        android:name=".Gameplay"
        android:label="@string/title_activity_gameplay"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="landscape"/>
    <activity
        android:name=".Start"
        android:label="@string/title_activity_start"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="landscape"/>
    <activity android:name=".AboutUs"
        android:screenOrientation="landscape"/>
    <activity android:name=".AboutUsPage"
        android:screenOrientation="landscape"></activity>
</application>

<uses-permission android:name="android.permission.VIBRATE" />

    </manifest>